body {
    background: #ECEFF1;
}

h1 {
    color: #253238;
}

textarea {
    resize: none;
}

.navbar-logo {
    max-height: 20px;
}

.hidden {
    display: none;
}

.products-list {
    flex-wrap: wrap;
}

.card-img {
    max-width: 286px;
    max-height: 400px;
}

.navbar {
    background-color: #13C1AC;
}

.btn-primary {
    background-color: #13C1AC;
    border-color: #13C1AC;
}

.btn-primary.disabled {
    background-color: #7ac7be;
    border-color: #7ac7be;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #59D3C5;
    border-color: #59D3C5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #59D3C599;
    outline: none;
}

.nav-link {
    color: white;
}

.link:hover {
    color: white;
}

.product-image {
    max-height: 300px;
    max-width: 380px;
    border-radius: 20px;
}

.product-price {
    font-size: 1.5rem;
}

.file-upload-button {
    background-color: black;
}

.form-control:focus {
    border-color: #13C1AC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #13C1AC99;
}

#confettis {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
    pointer-events: none;
}

.confetti:nth-child(1) {
    background-color: #f2d74e;
    left: 10%;
    animation-delay: 0;
}

.confetti:nth-child(2) {
    background-color: #95c3de;
    left: 20%;
    animation-delay: -5s;
}

.confetti:nth-child(3) {
    background-color: #ff9a91;
    left: 30%;
    animation-delay: -3s;
}

.confetti:nth-child(4) {
    background-color: #f2d74e;
    left: 40%;
    animation-delay: -2.5s;
}

.confetti:nth-child(5) {
    background-color: #95c3de;
    left: 50%;
    animation-delay: -4s;
}

.confetti:nth-child(6) {
    background-color: #ff9a91;
    left: 60%;
    animation-delay: -6s;
}

.confetti:nth-child(7) {
    background-color: #f2d74e;
    left: 70%;
    animation-delay: -1.5s;
}

.confetti:nth-child(8) {
    background-color: #95c3de;
    left: 80%;
    animation-delay: -2s;
}

.confetti:nth-child(9) {
    background-color: #ff9a91;
    left: 90%;
    animation-delay: -3.5s;
}

.confetti:nth-child(10) {
    background-color: #f2d74e;
    left: 100%;
    animation-delay: -2.5s;
}

@keyframes confetti {
    0% {
        transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
        transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
        transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
        transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
        transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
}